<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('parts/head.ejs') %>
</head>
<body>
    <nav>
        <%- include('parts/nav.ejs') %>
    </nav>
    <header>
        <%- include('parts/header.ejs') %>
    </header>
    <main>
        <!-- Info section -->
        <%- include('parts/Info.ejs') %>
        <!-- About me -->
        <%- include('parts/about.ejs') %>
        <!-- Gallery -->
        <%- include('parts/gallery.ejs') %>
        <!-- Card Section -->
        <%- include('parts/card.ejs') %>
        <!-- Our Team -->
        <%- include('parts/team.ejs') %>
        <!-- Contact -->
        <%- include('parts/contact.ejs') %>
        <!-- Testimonial -->
        <%- include('parts/testimonial.ejs') %>
    </main>
    <footer>
        <%- include('parts/footer.ejs') %>
    </footer>
    <%- include('parts/scripts.ejs') %>
</body>
</html>